<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pág. Flask</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <h1>Bem vindo!</h1>
        Swal.fire({
            title: 'Error!',
            text: 'Do you want to continue',
            icon: 'error',
            confirmButtonText: 'Cool'
        })
        <div class="alertBox">Mensagem importante</div>
        <p id="footer"></p>
        <button onclick="alert('Salvo com sucasso!')">Testar </button>
    </body>
</html>