.alertBox{
    background: #F3F3F3;
    background-color: aquamarine;
    text-align: center;
    display: flex;
    justify-content: end;
    animation-duration: 2s;
}

.alertBox:hover{
    background: #c7c6c6cb;
    background-color: rgb(10, 125, 87);
    text-align: center;
    display: flex;
    justify-content: end;
    padding: 3px;
}


