<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda DS</title>
    </head>
    <body>

        <header>
            <a href="/">
                <button style="background-color: tomato; border-radius: 30%; " >Agenda DS</button>
            </a>
            <span> > </span>
            <a href="/sobre">
                <button style="background-color: tomato; border-radius: 30%;">Sobre</button>
            </a>
        </header>

        <h3>Meu site HTML em Flask</h3>
    </body>
</html>